{% extends "app/layout.html" %}

{% block content %}
{% load static %}
<h2 class="header">{{ title }}.</h2>
<h3 class="header" id="character">Характер Козерога</h3>
<div class="text">
    <p>Свой личный рост Козерог строит на базе <i><b>превосходства</b></i> над другими знаками зодиака в части управления процессами. Без эмоций, требуя соблюдения дисциплины, Козерог может сконструировать жизнеспособную структуру и наладить поступление прибыли. Козерог особенно ценен на крупном производстве, в качестве <i><b>руководителя или директора</b></i>, в армии — в качестве полководца, в управлении страной или финансовой компании.</p>
    <p>У представителей этого знака отличное чутье на жизнеспособные проекты, таланты и энергию чистой прибыли. Козерог всегда может раздобыть финансирование, способен ловко управлять активами и развивает потенции любого дела. Но ненавидит подчинение тем, кого не может уважать. Козерог очень <i><b>бережлив</b></i>, поскольку для него путь всегда чуточку дальше, чем для других, и Козерог любит точно рассчитывать силы.</p>
    <p>Ему трудно ориентироваться в непредсказуемых обстоятельствах, вне любимых привычек, Козероги часто консервативны.</p>
</div>
<br>
<h3 class="header" id="man">Мужчина-Козерог</h3>
<div>
    <img class="intext" src="{% static 'app/content/man.jpg' %}" />
    <div class="text">
        <p>Мужчина-Козерог – дипломат и джентльмен, <b><i>приятный в общении</i></b>, владеющий искусством этикета, но вместе с тем <b><i>уверенный в себе</i></b> и немногословный. Он не говорит громко и красиво, не осыпает комплиментами, долго присматривается к понравившейся ему женщине, отмечает близкие ему черты – зачастую представители этого знака обращают внимание не только не внешность, но также на умение женщины держать себя. <u>В отношениях</u> мужчина-Козерог выбирает роль покровителя и <b><i>защитника</i></b>. В большинстве своем Козероги постоянны и надежны, они редко подводят, но также редко устраивают красивые сюрпризы и серенады под окном. </p>
        <p><u>В работе и бизнесе</u> мужчина-Козерог предпочитает создавать позитивный имидж, всегда отвечает за свои слова и выбирает респектабельные профессии – юристов, политиков, бизнесменов.</p>
    </div>
</div>
<br>
<h3 class="header" id="woman">Женщина-Козерог</h3>
<div>
    <img class="intext" src="{% static 'app/content/woman.jpg' %}" />
    <div class="text">
        <p>Женщины-Козероги несколько более эротичны и влюбчивы, чем представители сильного пола этого знака. Женщина-Козерог как никто другой умеет вести себя как <b><i>настоящая леди</i></b> – она строга в соблюдении внешних приличий и на первый взгляд кажется холодной и неприступной, строгой и загадочной, но при этом редко в какой женщине кроется такой вулкан страстей. Ее шарм загадочен и неоднозначен, и в первую очередь он направлен на то, чтобы мужчина завоевывал и добивался ее, прикладывал усилия.</p>
        <p>Женщина-Козерог сдержанна настолько, что порой трудно понять, на что она обижена – ее независимая натура является лишь прикрытием, и часто она таит обиды, соблюдая внешние приличия. Одной из проблем женщин-Козерогов в любви является подчеркнуто добродетельный образ, который отпугивает многих мужчин, нуждающихся хотя бы в минимальном поощрении и кокетстве.</p>
        <p>Женщины-Козероги <b><i>редко экспериментируют в моде</i></b>, предпочитая классику – их стиль всегда сдержан, и зачастую они отдают предпочтение практичным, но элегантным вещам. </p>
        <p><u>В работе</u> женщина-Козерог зачастую соревнуется с мужчинами в профессионализме – она достигает больших карьерных высот и пользуется непререкаемым авторитетом. </p>
    </div>
</div>
<br>
<h3 class="header" id="compat">Совместимость Козерога с другими знаками</h3>
<div class="text">
    <p>Идеальный партнер для Козерогов во всех сферах жизни – это <u>Телец</u>. Практичность и стабильность станут самым прочным фундаментом их отношений. Также хороший союз ждет Козерогов с другим земным знаком – <u>Девами</u>, представителей этих знаков сближает стремление к простой здоровой жизни, к вкусной пище и приятному сексу. Гармоничные отношения ждут Козерогов с <u>Весами</u>, а также с представителями своего знака. </p>
    <p>Ровные отношения ожидают с <u>Рыбами</u> и <u>Раками</u>. Решительно противопоказаны Козерогам отношения с <u>Водолеями</u> и <u>Львами</u>представители этих знаков – люди разных стихий и темпераментов. </p>
    <p>Абсолютный антипод Козерогов – <u>Близнецы</u>, с которыми у Козерогов практически нет общих точек соприкосновения. Один из самых сложных для Козерогов знаков – <u>Овен</u>, чья бешеная энергия буквально деморализует уравновешенного и стабильного Козерога.</p>
</div>

{% endblock %}
