{% extends "app/layout.html" %}

{% block content %}


<h2 class="header"> {{ title }}</h2>
<ul class="text">
    <li><i><a target="_blank" href="https://1001goroskop.ru/gadanie/">Сборник бесплатных гаданий</a></i></li>
    <li><i><a target="_blank" href="https://sonnik.ru/">Сонник</a></i> расскажет про смысл событий, которые происходят в ваших снах.</li>
    <li><i><a target="_blank" href="https://geocult.ru/synastry-online">Синастрия</a></i> расскажет совместимость двух людей по их натальной карте.</li>
</ul>

{% endblock %}